@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    scroll-behavior: smooth;
}
   
#down {
    margin-top: 20%;
    padding-bottom: 10%;
} 
#downFAQ {
  margin-top: 20%;
  padding-bottom: 10%;
}
body {
    background:-webkit-linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    background-attachment:fixed;
    height:100%;
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
    justify-content: center;
}
.para{
    font-size: 26px;
    font-family: 'Noto Sans', sans-serif;
}
ul{
    list-style-type: none;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    background: #13547a 0%;
    background-color: transparent;
    border-radius: 20px;   
}

li{
    float:right;
}
li a{
    display: block;
    color:rgb(19, 20, 20);
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
}
li a:hover{
    opacity:1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
header{
    background:#bdc3c7;
    border-radius: 20px;
}
h1{
    text-align: left;
    text-transform:capitalize ;
    padding-left:90px;
    padding-bottom: 40px; 
    font-size: 35px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-family: 'Noto Sans', sans-serif;
}

h4{
    color:white;
    text-align: center;
}

.logo{
    border-radius: 25px;
    margin-top: 20px;
    margin-left:20px;
    float:left;
    width: 70px;
    height: 70px;
}

#note{
    font-size: 20px;
}

.upload-container{
    align-items: center;
    overflow: hidden;
    max-width: 400px;
    height: 165px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px .5px 3px 5px rgba(8, 8, 8, 0.1);
    place-items: center;
    position: relative;
    margin: auto;
}

.form{
    width:400px;
}
  .file-upload-wrapper{
    position:relative;
    width:100%;
    height:60px;
    cursor: pointer;
  }
  .file-upload-wrapper::after{
    content:attr(data-text);
    font-size: 18px;
    position:absolute;
    top:0;
    left:0;
    background:#fff;
    padding:10px 15px;
    display: block;
    width:calc(100% - 40px);
    pointer-events:none;
    z-index: 20;
    height:40px;
    line-height: 40px;
    color:#999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }
  .file-upload-wrapper::before{
    content:"Choose File";
    position:absolute;
    top:0;
    right:0;
    display: inline-block;
    height:60px;
    background: -webkit-linear-gradient(left, #6e6e6e, #2e2d2e, #1d1c1c);  
    color:#fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 60px;
    padding:0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition: 0.5s ease-in-out;
  }
  .file-upload-wrapper:hover::before{
    background: linear-gradient(250.54deg, #968d8d 0%, #0a0808 100%);
  }
  .file-upload-wrapper input{
    opacity: 0;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 99;
    height:40px;
    margin:0;
    padding:0;
    display:block;
    cursor: pointer;
    width:100%;
  }
  input[type=submit]{
    background: -webkit-linear-gradient(left, #6e6e6e, #2e2d2e, #1d1c1c);  
    color:#fff;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 40px;
    height: 45px;
    width: 120px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    margin-left:35% ;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
  }
  input[type=submit]:hover{
    left: 0;
    background: linear-gradient(250.54deg, #968d8d 0%, #0a0808 100%);
    background-position: right center;
    transition: all 2s ease-in-out;
  }
    .container {
      margin: 0 auto;
      padding: 4rem;
      width: 48rem;
    }
    .accordion a {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding: 1rem 3rem 1rem 1rem;
      color: rgb(22, 20, 20);
      font-size: 1.15rem;
      font-weight: 400;
      border-bottom: 1px solid #e5e5e5;
    }
    .accordion a:hover,
    .accordion a:hover::after {
      cursor: pointer;
      color: #ffffff;
    }
    .accordion a:hover::after {
      border: 1px solid #ffffff;
    }
    .accordion a.active {
      color: #f7f7f7;
      border-bottom: 1px solid #ffffff;
    }
    .accordion a::after {
      font-family: 'Ionicons';
      position: absolute;
      float: right;
      right: 1rem;
      font-size: 1rem;
      color: #fff;
      padding: 5px;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #7288a2;
      text-align: center;
    }
    .accordion a.active::after {
      font-family: 'Ionicons';
      color: #f5f5f5;
      border: 1px solid #ffffff;
    }
    .accordion .content {
      opacity: 0;
      padding: 0 1rem;
      max-height: 0;
      border-bottom: 1px solid #e5e5e5;
      overflow: hidden;
      clear: both;
      -webkit-transition: all 0.2s ease 0.15s;
      -o-transition: all 0.2s ease 0.15s;
      transition: all 0.2s ease 0.15s;
    }
    .accordion .content p {
      font-size: 1rem;
      font-weight: 300;
    }
    .accordion .content.active {
      opacity: 1;
      padding: 1rem;
      max-height: 100%;
      -webkit-transition: all 0.35s ease 0.15s;
      -o-transition: all 0.35s ease 0.15s;
      transition: all 0.35s ease 0.15s;
    }
    #heading{
      font-family: 'Noto Sans', sans-serif;
      color: #ffffff;
      font-size: 40px;
    }

    .btn{
      height: 100%;
      width: 100%;
      z-index: 1;
      position: relative;
      background: none;
      border: none;
      color: #fff;
      padding-left: 0;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }
    .btn:hover{
      height: 100%;
      width: 100%;
      z-index: 1;
      position: relative;
      background: none;
      border: none;
      color: rgb(0, 0, 0);
      padding-left: 0;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
    }

    .containerr {
      display: flex;
      width: 1500px;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .card {
      margin: 10px;
      background-color: #bdc3c7;
      border-radius: 10px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 300px;
    }
    .card-header img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
    }  
    
    .card-body p {
      font-size: 13px;
      margin: 0 0 40px;
    }
    
    #card_heading{
      color:black;
      text-align: center;
      font-size: large;
    }
    #card_para{
      font-size: medium;
    }