<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="icon" href="{{ url_for('static', filename='img1.png') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_style.css') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="wrapper">
         <div class="title-text">
            <div class="image">
               <img src="{{ url_for('static', filename='img1.png') }}">
           </div>
            <div class="title login">
               Login
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
               <form action="{{ url_for('login') }}" class="login" method="POST"><br>
                  {% if msg %}
                     <div class="alert alert-info alert-dismissible">
                     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                     <strong>{{msg}}</strong> 
                     </div>
                  {% endif %}
                  <div class="field">
                     <input type="text" name="username" placeholder="UserName" id="username" required>
                  </div>
                  <div class="field col-auto">
                     <input type="password" name="password" placeholder="Password" id="password" required>
                  </div>
                  <div class="pass-link">
                     <a href="{{url_for('forgot_password')}}">Forgot password?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="{{url_for('register')}}">Signup now</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>
